##################################################
#### List of Needed External Tools / Libraries
##################################################

# Packaging
packaging

# Pandas
pandas

# Cpu Usage
psutil

# TimeZone
tzlocal

# Required for IPV4 & IPV6
requests